* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

/* root */

#root{
  display: grid;
}

.header {

  font-family: "Alfa Slab One", sans-serif;
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
  margin-left: 10px;
  color: #fff;
  font-weight: 200;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 50%;
  left: 50%;
  width:max-content;
  justify-content: center;
  margin: auto;
  padding: auto;
  text-align: center;
  height: 2.5rem;
}

.footer p {
  color: rgb(131, 128, 128);
  font-family: "Mr Dafoe", sans-serif;
}
/* Note */
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 80%;
  margin: 30px;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: "Bree Serif", serif;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.delete-btn{
  text-align: right;
}
.delete-btn button{
  cursor: pointer;
}

.note button{
  background-color:transparent;
  color:#f5ba13;
  border-style: hidden;
  text-align: center;
  font-size: 1.1rem;
}


/* Create Note */
.create-note{
  position: relative;
  width: 90%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.create-note input {
  font-family: "Bree Serif", serif;
  border: 0;
  width: 100%;
  border-color: transparent;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  height: 40px;
  margin: 1% auto 3% auto;
  font-size: 1.6rem;
  text-align: left;
}

.create-note textarea {
  display: block;
  border-color: transparent;
  border: 0;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  width: 100%;
  margin: 1% auto 3% auto;
  font-size: 1.2rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  
}

.create-note button{
  border-radius: 50%;
  width: 43px;
  height: 43px;
  background-color: #f5ba13;
  color:gray;
  border-style: hidden;
  text-align: center;
  position: absolute;
  right: 35px;
  cursor: pointer;
}
